<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>


<div class="container">
  <ion-card class="card">
    <form (ngSubmit)="recoverPassword()"> <!--aqui se llama a recoverPassword cuando hago click en Recuperar Contraseña (submit)-->
      <ion-item>
        <ion-label position="floating">Nombre de usuario o correo</ion-label>
        <ion-input [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>
  
      <ion-button expand="full" type="submit">Recuperar Contraseña</ion-button>
    </form>
  </ion-card>
</div>