<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">BIENVENIDO ESTUDIANTE</ion-title>
    <button (click)="logout()">Cerrar Sesión</button>
  </ion-toolbar>
</ion-header>

<ion-card color="primary">
  <ion-card-header>
    <ion-card-title>Aula Virtual</ion-card-title>
    <ion-card-subtitle>Ramos</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Ingles-Matematicas-Logistica </ion-card-content>
</ion-card>

<ion-card color="warning">
  <ion-card-header>
    <ion-card-title>Biblioteca Virtual</ion-card-title>
    <ion-card-subtitle>Últimos Títulos</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Hacking Ético - SQL Inyection </ion-card-content>
</ion-card>

<ion-card color="tertiary">
  <ion-card-header>
    <ion-card-title>Actividades Extra Programáticas</ion-card-title>
    <ion-card-subtitle>Deportes</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Basketball - Ajedrez - Futbolito </ion-card-content>
</ion-card>

<ion-card color="success">
  <ion-card-header>
    <ion-card-title>Asistencia Virtual</ion-card-title>
    <ion-card-subtitle>Mis Asistencias</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Programación App Mov - Calidad Software - Inglés </ion-card-content>
</ion-card>
