<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bienvenido {{ username }}!</strong>
    <p>Estás listo para usar la aplicación. Aquí puedes encontrar diferentes secciones y funcionalidades que te ayudarán a gestionar tu asistencia.</p>
  </div>
</ion-content>
